.photo-container {
    width: 45%;
    height: 600px;
    background-color: rgb(74, 15, 128);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img {
    height: fit-content;
    width: inherit;
    border-radius: 50%;
    box-shadow: 3px 3px 3px 3px black;
}

.photo-container img:hover {
    transform: scale(1.1);
    transition: .5s;
}