@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kanit:ital,wght@1,300&display=swap');


.app {
    width: 100vw;
}

.navigation {
    height: 60px;
    background-color: rgb(74, 15, 128);
    font-family: 'Kanit', sans-serif;
    position: sticky;
    top: 0px;
    box-shadow: 3px 3px 3px black;
}


.navlist {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    /* gap: 100px; */
}

.navlist li {
    margin: 0px 4%;
}

.navlist li a {
    text-decoration: none;
    color: white;
    font-size: 130%;
}

.heading {
    font-size: 130%;
    font-family: 'Dancing Script', cursive;
}

.heading h1 {
    color: orange;
}

.profileOuterDiv {
    display: flex;
}

.footer-pic img {
    height: 200px;
    width: 100%;
    transform: scaleY(-1);
}

.pageBreak {
    background-color: rgb(74, 15, 128);
    display: flex;
    justify-content: center;
    align-items: center;

}

.pageBreak img {
    margin-top: 30px;
    height: 180px;
    width: 100%;
}